body {
    font-family: 'Courier New', monospace;
}

.court {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    float: left;
    width: 300px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

span {
    font-size: 48px;
    display: block;
    margin-bottom: 20px;
}

.set {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.won_set {
    background-color: rgb(223, 255, 17);
}